body{
	/* Background pattern from subtlepatterns.com */
	/*image colors:
		white:#fafafa
		grey:#ebebeb
	*/
	background-image:url("images/symphony.png");
	background-repeat:repeat;
}

#header{
	background:#00BFE8; /*blue color*/
	height:100px;
	min-width:600px;
	box-shadow: 0px 3px 3px #B8C4CC;
	text-align: center;
	line-height: 100px;
	color:white;
	font-size: 70px;
	font-family:"candara",Sans-Serif;
	margin-bottom: 4px;

}

#article{
	background:white;
	height:1000px;
	width:75%;
	text-align: center;
	color:gray; /*color?*/
	font-size: 16px;
	font-family:"candara",Sans-Serif;
	opacity:1.0;
	margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #fafafa;
    border-left: 3px solid #fafafa;
    border-right: 3px solid #fafafa;
    min-width: 560px;

}

#wrapper{
	margin-left: 8%;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* clicked link */
a:active {
    color: black;
}

.patch{
	width:30%;
	min-width: 156px;
	min-height: 156px;
	float:left;
	text-align: center;
	margin-top:20px;
}

.row{
   
}
